files:
  "/etc/httpd/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: 80
    SSLCertificateId: arn:aws:acm:eu-west-1:841546299276:certificate/fdb5059b-6d07-4bdc-959c-64411d9e0f37
  aws:elb:loadbalancer:
    ManagedSecurityGroup: sg-03e690be1aeb091c7
    SecurityGroups: sg-03e690be1aeb091c7
